/* tablet styles here */
@media (max-width: 992px) {}

/* mobile styles here */
@media (max-width: 768px) {
    .about-section {
        padding-top: 0;
        display: table-row;
        text-align: left;
        background: url('../../assets/images/bg/about-us.jpg') center center / cover no-repeat;
    }

    .about-text-block {
        background-color: transparent;
        backdrop-filter: blur(10px) brightness(50%);
    }

    .about-section-image {
        display: none;
    }

    .employee-card {
        padding-left: 3rem;
        gap: 2rem; 
    }

    .employee-card img {
        max-width: 120px;

    }

    .employee-card p {
        display: none;
    }

    .team-section {
        margin-top: 4rem;
    }

    .skills-section p {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .skills-bar-bg {
        margin-bottom: 1.5rem;
        margin-left: 0rem;
    }

    .skills-columns {
    gap: 1rem;
    margin: 3rem 1.5rem 0 1.5rem;
}
}